:host {
    display: flex;
    justify-content: center;
    background-color: #ffebb3;
    padding: 1rem;
    flex-grow: 1;

    div#conteudo {
        
        display: flex;
        flex-direction: column;
        width: 80%;

        header {
            background-color: white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
            padding: 1rem;
            padding-bottom: 0;
            border-radius: 6px;
            margin-bottom: 1rem;

            nav {
                display: flex;

                .menuItem {
                    padding: 1rem;
                    padding-bottom: 0.3rem;
                    cursor: pointer;

                    &.ativa {
                        border-bottom: #4778ff solid 0.3rem;
                    }
                }
            }
        }

        main {
            background-color: white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
            padding: 1rem;
            border-radius: 6px;
            flex-grow: 1;
        }
    }

}